.loading-spinner {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

ion-avatar {
  width: 60px;
  height: 60px;
  margin: 10px;
}

ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  
  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 0.9em;
    color: var(--ion-color-medium);
  }
}